@using Microsoft.AspNetCore.Identity
@using Puzzle.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
        {
            var user = User.GetInfo();

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="LogOutForm">
        <div class="LogOutHover">
            <div style="float: right;">
                @if (user.Image != null)
                {
                    <img class="user-avatar-image" src="@user.Image" />
                }
                else
                {
                    <img class="user-avatar-image" src="/images/avatar.png" />
                }

                <input type="file" class="user-avatar-file" />
            </div>
            <div style="float: right; margin-left: 30px; margin-top: -2px;">
                <div>@user.Name</div>
                <div>
                    <button type="submit">خروج</button>
                </div>   
            </div>
        </div>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
