<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>پازل</title>




    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/32.png?v=1709797002318">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/16.png?v=1709797002318">
    <link rel="manifest" href="/manifest.json" asp-append-version="true">
    <meta name="theme-color" content="#282a37">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="دکوپازل">
    <link rel="apple-touch-icon" href="/images/icons/152.png?v=1709797002318">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg?v=1709797002318" color="#ff0076">
    <meta name="msapplication-TileImage" content="/images/icons/144.png?v=1709797002318">
    <meta name="msapplication-TileColor" content="#b400ff">

    <link href="~/lib/tabler-icons-master/iconfont/tabler-icons.css" rel="stylesheet" />
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/theme-default.css" rel="stylesheet" />
    <link href="~/css/page-auth.css" rel="stylesheet" />
    <link href="~/lib/lightGallery/css/lightgallery-bundle.css" rel="stylesheet" />
    <link href="~/css/my.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/js/jquery.js"></script>
    <script src="~/lib/lightGallery/lightgallery.min.js"></script>
    <script src="~/lib/lightGallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="~/lib/lightGallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/compressorjs-main/dist/compressor.js"></script>

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <div class="OverHide" id="OverHide"></div>
    <div class="Loading" id="Loading">
        <img class="" src="~/images/Loading.gif" />
        <div class="loading-other">
            <div class="">
                <label class="upload-percent">0%</label>
                <label class="upload-size">0MB</label>
            </div>
            <div class="upload-progress">
                <div class="upload-progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </div>

    <div class="loading-fb">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="OverHide2"></div>


    <script type="module">
        // This will append pwaupdate component, which will register your pwabuilder-sw.js file as the service worker.
        import '/pwaupdate.js';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);

    </script>

    <script src="/lib/firebase-app.js"></script>
    <script src="/lib/firebase-firestore.js"></script>
    <script src="/lib/firebase-messaging.js"></script>

    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyDJlKZz5DB-Ux2nYg80q8V-wIIlpQ7f_DI",
            authDomain: "puzzle-13d5e.firebaseapp.com",
            projectId: "puzzle-13d5e",
            storageBucket: "puzzle-13d5e.appspot.com",
            messagingSenderId: "58308022725",
            appId: "1:58308022725:web:a40123a148fdde0edbfbac",
            measurementId: "G-6LVSM5GLR4"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const messaging = firebase.messaging();
    </script>

    <script src="~/js/app.js" asp-append-version="true"></script>
</body>
</html>
