@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ Layout = "_AppLayout.cshtml"; }

<div class="add-project-box">
    <div>
        <label class="add-project-title">ثبت پروژه</label>
    </div>
    <div class="project-yellow-box">
        <div class="add-project-select-category">
            دسته بندی مورد نظر را انتخاب نمایید
        </div>
        <div class="select-box">
            <div class="category-title">
                <label>کابینت</label>
            </div>
            <div class="details-box">
                <div class="category-box">
                    <div class="add-project-select-type">
                        نوع مورد نظر را انتخاب نمایید
                    </div>
                    <div class="add-project-type-item">
                        <label data-id="100">مدرن</label>
                        <label data-id="101">کلاسیک</label>
                        <label data-id="102">نئوکلاسیک</label>
                        <label data-id="103">انزو</label>
                        <label data-id="104">سایر</label>
                    </div>
                </div>
                <div class="quality-box">
                    <div class="add-project-select-quality">
                        کیفیت مورد نظر خود را انتخاب نمایید
                    </div>
                    <div class="add-project-quality-box">
                        <label data-id="0">استاندارد</label>
                        <label data-id="1">VIP</label>
                        <label data-id="2">انیمیشن</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-box">
            <div class="category-title">دکوراسیون داخلی</div>
            <div class="details-box">
                <div class="category-box">
                    <div class="add-project-select-type">
                        نوع مورد نظر را انتخاب نمایید
                    </div>
                    <div class="add-project-type-item">
                        <label data-id="105">انواع کمد</label>
                        <label data-id="106">دکوراسون داخلی کامل</label>
                        <label data-id="109">سایر</label>
                    </div>
                </div>
                <div class="quality-box">
                    <div class="add-project-select-quality">
                        کیفیت مورد نظر خود را انتخاب نمایید
                    </div>
                    <div class="add-project-quality-box">
                        <label data-id="0">استاندارد</label>
                        <label data-id="1">VIP</label>
                        <label data-id="2">انیمیشن</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-box" data-id="110">
            <div class="category-title">طراحی محیط تجاری و اداری</div>
            <div class="details-box">
                <div class="quality-box">
                    <div class="add-project-select-quality">
                        کیفیت مورد نظر خود را انتخاب نمایید
                    </div>
                    <div class="add-project-quality-box">
                        <label data-id="0">استاندارد</label>
                        <label data-id="1">VIP</label>
                        <label data-id="2">انیمیشن</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-box" data-id="115">
            <div class="category-title">نمای ساختمان و محوطه</div>
            <div class="details-box">
                <div class="category-box">
                    <div class="add-project-select-type">
                        نوع مورد نظر را انتخاب نمایید
                    </div>
                    <div class="add-project-type-item">
                        <label>استاندارد</label>
                        <label>VIP</label>
                        <label>انیمیشن</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-box">
            <div class="category-title">CNC و دوبعدی</div>
            <div class="details-box">
                <div class="category-box">
                    <div class="add-project-select-type">
                        نوع مورد نظر را انتخاب نمایید
                    </div>
                    <div class="add-project-type-item">
                        <label data-id="116">CNC دو بعدی</label>
                        <label data-id="117">CNC سه بعدی و منبت</label>
                        <label data-id="119">طراحی صنعتی</label>
                        <label data-id="120">پلن ساختمان</label>
                        <label data-id="121">سایر</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="select-box" data-id="122">
            <div class="category-title">موشن گرافی</div>
        </div>
        <div class="select-box" data-id="123">
            <div style="border: none;" class="category-title">طراحی لوگو</div>
        </div>
    </div>

    <div class="add-project-title-box">
        <p>عنوان پروژه را وارد نمایید</p>
        <input id="title" class="title" placeholder="مثل آقای احمدی - جردن" />
    </div>

    <div class="submit-btn-box">
        <label class="submit-btn">تایید و ادامه</label>
    </div>
</div>

<script>




</script>