@{
    Layout = "_AppLayout.cshtml";
}

<div>
    <div>
        <img src="~/images/home-banner.jpeg" />
    </div>
    <div>

    </div>
    <div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>